.header{
  margin-bottom: 10px;
  height: 100px;
  background-color: #6D5BD0;
  color: white;
}
h2{
  line-height: 100px;
}
.logo{
  text-align: center;
}
h3{
  font-style: initial;
  line-height: 100px;
  color: black;
}
