<table class="table table-bordered border-primary">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Thứ 2</th>
    <th scope="col">Thứ 3</th>
    <th scope="col">Thứ 4</th>
    <th scope="col">Thứ 5</th>
    <th scope="col">Thứ 6</th>
    <th scope="col">Thứ 7</th>
    <th scope="col">Chủ nhật</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tiết 1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 1</td>
  </tr>
  <tr>
    <td>Tiết 2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 2</td>
  </tr>
  <tr>
    <td>Tiết 3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 3</td>
  </tr>
  <tr>
    <td>Tiết 4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 4</td>
  </tr>
  <tr>
    <td>Tiết 5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 5</td>
  </tr>
  <tr>
    <td>Tiết 6</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 6</td>
  </tr>
  <tr>
    <td>Tiết 7</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 7</td>
  </tr>
  <tr>
    <td>Tiết 8</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 8</td>
  </tr>
  <tr>
    <td>Tiết 9</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 9</td>
  </tr>
  <tr>
    <td>Tiết 10</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 10</td>
  </tr>
  <tr>
    <td>Tiết 11</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 11</td>
  </tr>
  <tr>
    <td>Tiết 12</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 12</td>
  </tr>
  <tr>
    <td>Tiết 13</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 13</td>
  </tr>
  <tr>
    <td>Tiết 14</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Tiết 14</td>
  </tr>
  <tr>
    <th scope="col"></th>
    <th scope="col">Thứ 2</th>
    <th scope="col">Thứ 3</th>
    <th scope="col">Thứ 4</th>
    <th scope="col">Thứ 5</th>
    <th scope="col">Thứ 6</th>
    <th scope="col">Thứ 7</th>
    <th scope="col">Chủ nhật</th>
    <th scope="col"></th>
  </tr>
  </tbody>
</table>
