<div class="right-side-bar border border-1">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 group-search">
    <div class="input-group ">
      <input type="search" placeholder="Tìm kiếm" aria-describedby="button-addon1" class="form-control border-0 bg-light">
      <div class="input-group-append">
        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Lưu</button>
  <button type="button" class="btn btn-danger">Bỏ chọn</button>
  <h5>Các môn học đã chọn</h5>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
    <div class="col-10">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Thiết kế giao diện
      </label>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Trịnh Đức Hiếu
      </label>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary">Lưu</button>
<button type="button" class="btn btn-danger">Bỏ chọn</button>
